body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #ff4d4d, #b30000);
    color: white;
}

header {
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
}

.hero {
    text-align: center;
    padding: 80px;
}

.hero-img {
    width: 300px;
    border-radius: 10px;
}

.btn {
    background: white;
    color: red;
    padding: 10px;
}

.btn-outline {
    border: 2px solid white;
    padding: 10px;
}

form {
    width: 300px;
    margin: auto;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
}

.image-section img {
    width: 300px;
    display: block;
    margin: auto;
}

.card {
    background: white;
    color: black;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
}

.card img {
    width: 100%;
}

.video-container {
    text-align: center;
}

.blog-video {
    width: 80%;
}

.message-box {
    text-align: center;
    margin-top: 100px;
}
